.theia
*.txt
/m?ex??/*
/m2ex???/*
/m2ex????/*
ex4.15
listing6.4
!/m?ex??/*.c
!/m2ex???/*.c
!/m2ex????/*.c
!/m2ex????/*.h
!/m2ex??/*.h
!/m2ex???/*.h
!.gitignore

/projeto_final/*
!/projeto_final/*.c
!/projeto_final/*.h
